<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {{ title }}
    </title>
    {% assets "css_all" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
</head>
<body>
    <h5>Login Form</h5>
    <form method="post" action="{{ url_for('.login')}}">
        <div class="container">
            <div class="mb-3">
              {{ form.login.label(class_='form-label') }}
              {{ form.login(class_='form-control') }}
            </div>

            <div class="mb-3">
              {{ form.password.label(class_='form-label') }}
              {{ form.password(class_='form-control') }}
            </div>

            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Sign in">
            </div>
        </div>
    </form>
    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>
</html>