<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {{ title }}
    </title>
    {% assets "css_all" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
</head>
<body>
    <h5>Registration Form</h5>
    <form method="post" action="{{ url_for('.register')}}">
        {{ form.csrf_token }}
        <div class="container">
            <div class="mb-3">
              {{ form.email.label(class_='form-label') }}
              {% if form.email.errors %}
                {% for e in form.email.errors %}
                    <p class="help-block">{{ e }}</p>
                {% endfor %}
              {% endif %}
              {{ form.email(class_='form-control') }}
            </div>
            <div class="mb-3">
              {{ form.username.label(class_='form-label') }}
                {% if form.username.errors %}
                  {% for e in form.username.errors %}
                    <p class="help-block">{{ e }}</p>
                  {% endfor %}
                {% endif %}
              {{ form.username(class_='form-control') }}
            </div>
            <div class="mb-3">
              {{ form.password.label(class_='form-label') }}
              {{ form.password(class_='form-control') }}
            </div>
            <div class="mb-3">
              {{ form.confirm.label(class_='form-label') }}
              {{ form.confirm(class_='form-control') }}
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Sign up">
            </div>
        </div>
    </form>
    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>
</html>